.nav,
.nav__list,
.nav__socials {
  display: flex;
  gap: 1rem;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
  justify-content: space-between;
  column-gap: 3.5rem;
}

.nav__logo {
  color: var(--title-color);
  font-size: 2.3rem;
  font-weight: var(--weight-700);
}

.nav__logo span {
  color: var(--first-color);
}

.nav__list {
  column-gap: 2rem;
}

.nav__link,
.nav__social-link {
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: all 0.3s var(--transition);

  padding: 0.5rem;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  font-weight: var(--weight-500);
}

.nav__socials {
  column-gap: 1.5rem;
  margin-left: auto;
}

.nav__social-link:hover {
  transform: translateY(-0.25rem) scale(2);
}

.nav__link-btn {
  font-size: var(--smaller-font-size);
  background-color: transparent;
  border-color: var(--border-color);
  padding: 0.625rem 1.25rem;
}

.nav__link-btn:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: var(--title-color);
}

.nav__toggle,
.nav__close {
  display: none;
}
