.header {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  background-image: url(../../asset/header__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
}

.header__title {
  position: relative;
  color: aliceblue;
  margin-left: 20px;
}

.header__welcome {
  font-size: 120px;
  margin: 0;
  margin-top: 120px;
}

.header__description {
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
  width: 750px;
}
