.main {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.main__caption {
  width: 100%;
  text-align: center;
  color: black;
}

.main__title {
  font-size: 50px;
  margin: 20px auto 20px;
}

.main__subtitle {
  margin: 0;
}
